/venv/
/.idea/
/class_trofim/Alexander Dybin.jpg
/class_trofim/Alexander IPhone.jpg
/class_trofim/Inna Miroshnichenko.jpg
/class_trofim/Irina B.jpg
/class_trofim/Irina Ugvinenko.jpg
/class_trofim/Julia.jpg
/class_trofim/Juriy.jpg
/class_trofim/Kristi.jpg
/class_trofim/Lesademy Anenko.jpg
/class_trofim/Nataliy IPhone.jpg
/class_trofim/Oksana Bovan.jpg
/class_trofim/Olenka.jpg
/class_trofim/face_encodings.npy
/class_trofim/names.npy
/video/Видеоконференция в ZOOM.mp4
main_fast6.py
main_fast7.py
main_fast8.py